streamlit
transformers
pydantic
torch
pandas
unstructured
tiktoken
pinecone-client
pypdf
langgraph
numpy
python-dotenv
langchain
langchain-core 
langchain-community 
langchain-openai 
langchain-anthropic
langchain_ollama
chromadb==0.5.3 
langchain-chroma 
docx2txt
bs4 
ipykernel
